[submodule "vim/bundle/AutoTag"]
    path = vim/bundle/AutoTag
    url = https://github.com/vim-scripts/AutoTag
    ignore = dirty
[submodule "vim/bundle/clang_complete"]
    path = vim/bundle/clang_complete
    url = https://github.com/Rip-Rip/clang_complete.git
    ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
    path = vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/bundle/snipmate.vim"]
    path = vim/bundle/snipmate.vim
    url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "vim/bundle/supertab"]
    path = vim/bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "vim/bundle/tagbar"]
    path = vim/bundle/tagbar
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule  "vim/bundle/vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim/bundle/vim-sensible"]
    path = vim/bundle/vim-sensible
    url = git://github.com/tpope/vim-sensible.git
    ignore = dirty
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	ignore = dirty
